pickle-mixin==1.0.2
streamlit==1.10.0
streamlit-option-menu==0.3.2
scikit-learn==1.1.1
numpy==1.22.4



streamlit run C:\Users\M_ISHFAQ\Machine_Learning_Projects\Multi_Disease_Prediction_Web_App\Disease_prediction.py